{{!< default}}

<div class="container">
    {{#post}}
        <article class="post-container {{post_class}}">

            {{! Page Title }}
            <header class="post-header">
                <h2 class="post-title">{{title}}</h2>
            </header>

            {{! Page Body }}
            <div class="post-content clearfix">
                {{#if image}}
                    <img class="post-featured-image" src="{{image}}">
                {{/if}}
{{! No indention to prevent handlebars indenting <pre> tag content}}
{{{content}}}
            </div>

        </article>
    {{/post}}
</div>
